div.pre-header{
    background-color: rgb(65, 65, 65);
}
div.pre-header-fakenav{
    margin-left: auto;
    margin-right: 0;
    width: fit-content!important;
}
.pre-header-link {
    display: inline-block;
    padding-right: 20px;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #c7c7c7;
    

}
.pre-header-link:hover{
    color: white;
    text-decoration: none;
}
.text-top-white{
    color: rgba(255,255,255,0.5)!important;
}
.text-mid-white{
    color: rgba(255,255,255,0.7)!important;
}
.bg-black{
    background-color: black;
}
.quote.signature_resp{
    background-image: url(../img/accueil/signature.png);
    background-size: auto;
}

.owl-next , .owl-prev{
    display:none !important;
}
.container-frise-cours{
    overflow-x: hidden;
}
.frise-cours {
    overflow-x: hidden; /* Cache le débordement horizontal */
    display: flex; /* Assure que le contenu est sur une seule ligne */
    align-items: center; /* Centre verticalement le contenu si nécessaire */
  }
  
  img.frise-cours {
    transition: transform 0.5s ease-in-out; /* Animation fluide pour le défilement */
  }
  
  img.frise-cours:hover {
    animation: scrollImage 10s linear infinite; /* Changez la durée pour contrôler la vitesse */
  }
  
  @keyframes scrollImage {
    0% {
      transform: translateX(0); /* Commence à la position initiale */
    }
    100% {
      transform: translateX(-100%); /* Défile jusqu'à la fin de l'image */
    }
  }
  