div.pre-header{
    background-color: rgb(65, 65, 65);
}
div.pre-header-fakenav{
    margin-left: auto;
    margin-right: 0;
    width: fit-content!important;
}
.pre-header-link {
    display: inline-block;
    padding-right: 20px;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #c7c7c7;
    

}
.pre-header-link:hover{
    color: white;
    text-decoration: none;
}
.text-top-white{
    color: rgba(255,255,255,0.5)!important;
}
.text-mid-white{
    color: rgba(255,255,255,0.7)!important;
}
.bg-black{
    background-color: black;
}
.quote.signature_resp{
    background-image: url(../img/accueil/signature.png);
    background-size: auto;
}

.owl-next , .owl-prev{
    display:none !important;
}
.container-frise-cours {
    overflow-x: hidden; /* Cache le débordement horizontal */
    display: flex; /* Assure que le contenu est sur une seule ligne */
    align-items: center; /* Centre verticalement le contenu si nécessaire */
    max-width: 100%; /* Limite la largeur du conteneur */
    margin: 20px 0; /* Ajoute un peu d'espace autour du conteneur */
}
.frise-cours {
    transition: transform 0.5s ease-in-out; /* Animation fluide pour le défilement */
    display: block; /* Assure que l'image n'a pas d'espace supplémentaire en dessous */
    max-width: none; /* S'assure que l'image peut dépasser la largeur de son conteneur */
}
button.btn-defilement {
    cursor: pointer; /* Change le curseur pour indiquer une action */
    padding: 10px; /* Ajoute un peu d'espace autour du texte */
    margin-bottom: 10px; /* Ajoute un peu d'espace en dessous du bouton */
}
.pointer-svg {
    cursor: pointer !important;
}

.custom-popover {
    position: absolute;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    z-index: 1060;
}

.custom-popover-content {
    font-size: 14px;
    color: #333;
}


